# Build output (VS CMake mode)
out/
build/
cmake-build-*/

# VS internal files
.vs/
*.user
CMakeSettings.json

# CMake generated
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake.in

# Compiled objects
*.obj
*.exe
*.pdb
*.ilk

# OS files
Thumbs.db
.DS_Store

